<{if $block.direction !="fixed"}>
<marquee behavior="scroll" direction="<{$block.direction}>" width="100%" height="80" scrollamount="1" scrolldelay="60" onmouseover="this.stop()" onmouseout="this.start()">
<{/if}>

      <!-- start module menu loop -->
      <{foreach item=mymember from=$block.contents}>

<b><i><{$mymember.counter}></i></b>&nbsp;
<a href="<{$xoops_url}>/userinfo.php?uid=<{$mymember.uid}>"><{$mymember.uname}></a>&nbsp;<{$mymember.posts}><br><{$mymember.rank_title}>&nbsp;<{$mymember.last_login}><br>
      <{/foreach}>
      <!-- end module menu loop -->

<{if $block.direction !="fixed"}>
</marquee>
<{/if}>